body{
    padding: 0%;
    margin: 0%;
}
nav ul{
    background-color: aquamarine;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    
}
img{
    width: 5rem;
}


